<nav class="panel is-primary">
    <p class="panel-heading">
        {{ title }}
    </p>
    {% for decision in object_list %}
        <a href="{% url 'votes:info' decision.id %}" class="panel-block">
            <span class="panel-icon has-text-{{ decision.icon.color|default:'gray' }}">
                <i class="{{ decision.icon.class }}" aria-hidden="true"></i>
            </span>

            <p>{{ decision.subject }}</p>
        </a>
    {% empty %}
        <p class="panel-block" disabled>Aktuell sind keine Abstimmungen verfügbar.</p>
    {% endfor %}
</nav>
