{% extends 'votes/base_auth.html' %}

{% block header %}
    {% include 'votes/snippet_auth.html' with title="Neues Passwort festlegen" %}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <div class="field">
            <label class="label" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
            <div class="control">
                <input id="{{ form.new_password1.id_for_label }}" type="password" class="input" name="new_password1" autocomplete="new-password" autofocus required>
            </div>
            {% for error in form.new_password1.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="field">
            <label class="label" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
            <div class="control">
                <input id="{{ form.new_password2.id_for_label }}" type="password" class="input" name="new_password2" autofocus autocomplete="new-password" required>
            </div>
            {% for error in form.new_password2.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <button type="submit" class="button is-primary">Passwort ändern</button>

        {% for error in form.non_field_errors %}
            <p class="help is-danger">{{ error }}</p>
        {% endfor %}
    </form>
{% endblock %}
