<!DOCTYPE html>{% load static %}
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Votes</title>

        <link rel="stylesheet" href="{% static 'votes/css/bulma.min.css' %}">
        <link rel="stylesheet" href="{% static 'votes/css/style.css' %}">

        <script src="{% static 'votes/js/font-awesome.js' %}"></script>
        <script src="{% static 'votes/js/navbar-burger.js' %}"></script>
        <script src="{% static 'votes/js/close-notification.js' %}"></script>
    </head>

    <body>
        {% block body %}
            {% include 'votes/navigation.html' %}

            <section class="section">
                {% block content %}{% endblock %}
            </section>
        {% endblock %}
    </body>
</html>
