{% load static %}
<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'votes/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'votes/css/dark.css' %}">

        <title>Votes</title>
    </head>
    <body>
        {% if request.path != '/accounts/login/' %}
            {% include 'votes/navigation.html' %}
        {% endif %}

        {% block content %}{% endblock %}

        <script src="{% static 'votes/js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>