{% extends 'votes/decision/base_decision.html' %}

{% block column %}
    <div class="box">
        <h1 class="title is-4">Abstimmen</h1>

        <p>{{ decision.subject }}</p>

        <form method="post">
            {% csrf_token %}

            <div class="field">
                {% for radio in form.option %}
                    <div class="control">
                        <label class="radio" for="{{ radio.id_for_label }}">
                            {{ radio.tag }}
                            {{ radio.choice_label }}
                        </label>
                    </div>
                {% endfor %}

                {% for error in form.subject.errors %}
                    <p class="help is-danger">{{ error }}</p>
                {% endfor %}
            </div>

            <button type="submit" class="button is-primary">Abstimmen</button>

            {% for error in form.non_field_errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </form>
        </div>
    </div>
{% endblock %}
