{% extends 'workshops/base.html' %}

{% block main %}
<article class="message is-success">
    <div class="message-header">
        <p class="mb-0">Du hast dich erfolgreich angemeldet!</p>
    </div>
    <div class="message-body">
        Wir haben dir zur Bestätigung eine E-Mail geschickt. In den nächsten Tagen werden wir uns nochmal per
        E-Mail melden um dir alle nötigen Informationen zum Workshop zukommen zu lassen und die letzten
        Details zu klären.
    </div>
</article>
{% endblock %}