{% extends 'workshops/base.html' %}

{% block main %}
    <div class="content">
        <h1 class="title">Unsere Workshop-Angebote</h1>
        <p class="subtitle">Ein Angebot vom <a href="https://fasra-fhw.jimdofree.com/">FasRaFHW</a></p>

        <h3>Liste aller Workshops</h3>
        <div class="columns is-multiline">{% for workshop in object_list %}
            <div class="column is-one-quarter">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h5>
                                {{ workshop.title }}
                            </h5>
                            {% if workshop.status == workshop.WITHDRAWN %}
                                <p class="has-text-danger">Leider bereits geschlossen!</p>
                            {% else %}
                                {% if workshop.desc %}
                                    <p>{{ workshop.desc }}</p>
                                {% else %}
                                    <p class="has-text-grey">Keine Beschreibung verfügbar.</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="card-footer-item">{{ workshop.date }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="column is-fullwidth">
                Es sind aktuell leider keine Workshops verfügbar.
            </div>
        {% endfor %}</div>

        {% if object_list %}<a class="button is-primary is-fullwidth is-large" href="{% url 'workshops:workshop-registration' %}">Zur Anmeldung</a>{% endif %}
    </div>
{% endblock %}